<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/challenge.css" />
    <script src="/js/challenge.js"></script>
  </head>
  <body>
    <header>
      <%- include('../partials/header') %>
    </header>
    <div class="container">
      <h2 class="challenges-header underline">
        <%= challenge.title %>
      </h2>
      <div class="challenge-desc">
        <% challenge.description.split('\n').forEach(desc => { %> <% if(desc) {
        %>
        <p><%= desc %></p>
        <% } else { %>
        <br />
        <% }}) %>
      </div>
      <div class="challenge-details">
        Challenge created by:
        <span class="challenge-created-name">
          <%= challenge.createdBy %>
        </span>
        on <%= challenge.createdAt.toDateString() %> at <%=
        challenge.createdAt.toTimeString() %>
      </div>
    </div>
    <% if(user.challenges.includes(challenge.id)){ %>
    <div class="discussions-container">
      <h2 class="header">
        Discussions<span class="discussions-length"
          >(<%= challenge.discussions.length %>)</span
        >
      </h2>
      <div id="discussions">
        <% challenge.discussions.forEach(discussion => { %>
        <div class="discussion">
          <h3 class="discussion-title"><%= discussion.title %></h3>
          <div
            class="comments-container hide-display"
            id="discussion<%= discussion.id %>"
          >
            <div class="comments">
              <% discussion.comments.forEach(comment => { %>
              <div class="comment">
                <div class="<%= user.name === comment.name ? 'you' : 'them' %>">
                  <h5 class="posted-by"><%= comment.name %></h5>
                  <p class="comment-text"><%= comment.comment %></p>
                </div>
              </div>
              <% }) %>
            </div>
            <div class="comments-options">
              <input
                type="text"
                discussion="<%= discussion.id %>"
                class="comment-box"
                placeholder="comment.."
              />
              <button discussion="<%= discussion.id %>" class="comment-action">
                Comment
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <div class="new-discussion">
        <label>Title:</label><input type="text" id="discussion-title-new" />
        <label>Comment:</label><input id="discussion-comment-new" />
        <button id="discussion-create">Start A New Discussion</button>
      </div>
    </div>
    <% } %>

    <p id="err-msg" class="err hide">some err</p>
    <div class="challenge-options">
      <% if(user.challenges.includes(challenge.id)){ %>
      <div class="button-action" id="action" value="submit">
        Submit as completed
      </div>
      <% } else { %>
      <div class="button-action" id="action" value="pickup">
        Pick this challenge
      </div>
      <% } %>
      <input type="hidden" id="secret" value="<%= challenge.id %>" />
    </div>
  </body>
</html>
